// variable de colores 
$primaryColor: 	hsl(46, 100%, 55%); 
$secondColor: hsl(229, 23%, 23%);
$thirdColor: hsl(227, 10%, 46%);
$fourthColor: hsl(0, 0%, 59%);

*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    color: $secondColor;
    background-color: $primaryColor;
    background-image: url('../img/bg-pattern-top.svg'), url('../img/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color:white;
    width: 360px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.315);

    &-header{
        width: 100%;
        height: 160px;
        display: block;
        object-fit: cover;
    }

    &-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.11);

        &-persona{
            border-radius: 50%;
            border:6px solid #D5A100; 
            width: 200px;
            height: 200px;
            margin-top: calc(-100px - 6px);
            background-color: #0075BE;
        }

        &-title{
            font-size: 1.1rem;
            margin: 1.1rem 0 0.8rem 0;
            color: $secondColor;
            text-transform: capitalize;
        }

        span , p {
            color: $fourthColor;
            font-weight: 400;
        }
        
        p {
            font-size: 0.9rem;
            margin-bottom: 1.5rem;
        }
    }

    &-footer{
        display: flex;
        justify-content: space-around;
        margin: 2rem;

        &-social{
            text-align: center;

            h3{
                font-weight: 700;
                color: $secondColor;
                font-size: 1.1rem;
                margin-bottom: 5px;
            }

            p{
                color: $thirdColor;
                font-size: 0.7rem;
                letter-spacing: 1px;
            }
        }
    }

    
}

footer{
    font-size: 1rem; 
    text-align: center;
    margin: 1rem;
    font-weight: 400;
    
    a{ 
        color: hsl(228, 45%, 44%);
    }
}